
.guarantees {
    margin-bottom: 60px;
    &-licenses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-top: 25px;
        margin-bottom: 58px;
    }
    &-licenses-item {
    }
    &-licenses-link {
        display: flex;
        align-items: center;
        min-height: 94px;
        height: 100%;
        padding: 26px 29px;
        background-color: var(--color3);
        border-radius: 15px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    &-licenses-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 42px;
        width: 42px;
        height: 42px;
        background-color: var(--color6);
        border-radius: 50em;
        margin-left: auto;
        padding: 5px;
        @include bgrcolor();
    }
    &-licenses-label {
        margin-top: -5px;
        margin-right: 20px;
        color: var(--color2);
        font-size: 19px;
        line-height: 30px;
    }
    &-licenses-link:hover &-licenses-icon {
        background-color: var(--color7);
    }

    @media screen
    and (max-width: $desktop){
    }
    @media screen
    and (max-width: $tablet){
        margin-bottom: 55px;
        &-licenses {
            grid-column-gap: 25px;
            grid-row-gap: 25px;
            margin-top: 17px;
            margin-bottom: 32px;
        }
        &-licenses-link {
            min-height: 85px;
            padding: 25px;
            border-radius: 10px;
        }
        &-licenses-icon {
            min-width: 35px;
            width: 35px;
            height: 35px;
        }
        &-licenses-icon-pic {
            max-width: 21px;
        }
        &-licenses-label {
            margin-top: 0;
            font-size: 15px;
            line-height: 21px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-licenses {
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            margin-bottom: 18px;
        }
        &-licenses-link {
            min-height: 65px;
            padding: 15px;
        }
    }
}
