
.services-detail {
    margin-bottom: 90px;
    &-main {
        .main-container {
            min-height: 375px;
            background-color: var(--color13);
        }
        .main-title {
            text-transform: none;
        }
        .main-info {
            width: 49%;
        }
        .main-img {
            width: 51%;
        }
    }
    &-symptoms {
        display: flex;
        overflow: hidden;
        min-height: 408px;
        margin-top: 20px;
        margin-bottom: 84px;
        background-color: var(--color3);
    }
    &-symptoms-img {
        width: 39%;
        position: relative;
    }
    &-symptoms-info {
        width: 61%;
        padding: 40px 60px 48px 40px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        ul li {
            margin-bottom: 26px;
            padding-left: 52px;
            padding-top: 6px;
            &:before {
                top: 6px;
                left: 0;
                width: 34px;
                height: 34px;
                background: var(--color6) url("../images/services-detail/services-detail-icon-1.svg") no-repeat 0 0;
                background-size: 100% auto;
            }
        }
    }
    &-symptoms-pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: ellipse(100% 100% at left center);
        overflow: hidden;
    }
    &-symptoms-pic-element {
        width: 100%;
        min-height: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    @media screen
    and (max-width: $desktop){
        &-main {
            .main-info {
                width: 53%;
            }
            .main-img {
                width: 47%;
            }
        }
        &-symptoms-info {
            padding: 30px;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-main {
            .main-container {
                min-height: 280px;
            }
            .main-title {
                font-size: 20px;
                line-height: 30px;
            }
            .main-info {
                width: 100%;
             }
            .main-img {
               display: none;
            }
        }
        &-symptoms {
            min-height: 287px;
            margin-bottom: 55px;
        }
        &-symptoms-info {
            font-size: 14px;
            line-height: 21px;
            ul {
                margin-bottom: 10px;
            }
            ul li {
                margin-bottom: 11px;
                padding-top: 4px;
                padding-left: 34px;
                &:before {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &-symptoms-img {
            width: 32%;
        }
        &-symptoms-pic {
            clip-path: ellipse(100% 68% at left center);
        }
        &-symptoms-info {
            width: 68%;
            padding: 27px 20px 25px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-symptoms {
            flex-direction: column;
        }
        &-symptoms-img {
            width: 100%;
        }
        &-symptoms-info {
            order: -1;
            width: 100%;
        }
        &-symptoms-pic {
            position: static;
            max-height: 220px;
            clip-path: ellipse(65% 100% at bottom center);
        }
    }
}
